<!DOCTYPE html>
<html>
	<head>
	<title>realtime tweets | andrewheekin</title>
	<link rel="stylesheet" href="//bootswatch.com/spacelab/bootstrap.min.css">
	</head>
	<body>
		<div class="container">
			<div class="row">
				<h1>choose a hashtag to follow:</h1>
				<br>
				<div class="col-sm-1">
					<h1>#</h1>
				</div>
				<form action='/track' method='get'>
				<div class="col-sm-5">
					<h3><input type="text" name="hashtag" placeholder="hashtag"></h3>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-1">
				</div>
				<div class="col-sm-2">
					<h4><input class="btn-primary" type="submit" value="submit"></h4>
				</div>
				<div class="col-sm-2">
					<form action='/kill'>
						<h4><input class="btn-primary" type="submit" value="kill stream"></h4>
					</form>
				</div>				
				</form>
			</div>
		</div>
	</body>
</html>